/* Bootstrap */

@import url('../bower_components/bootstrap/dist/css/bootstrap.min.css');
/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

