<section>
    <div class="row">
        <form 
            class="col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4" 
            ng-submit="vote()">
            <div class="form-group">
                <legend>{{$ctrl.myPoll.question}}</legend>
                <h5>
                    A friend wants to know... {{$ctrl.myPoll.question}}
                </h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="answer in $ctrl.myPoll.responses"
                    class="form-group">
                    <input 
                        type="radio"
                        ng-model="radioVal.selected"
                        ng-value="answer._id"
                        ng-hide="$ctrl.isLoggedIn">
                    <span
                        style="margin-left:5px;">
                        {{answer.response}}
                    </span>
                    <span
                        class="badge"
                        style="float:right;" 
                        ng-show="$ctrl.isLoggedIn">
                        {{answer.count}}
                    </span>
                </li>
            </ul>
            <div class="form-group">
                <button 
                    type="submit" 
                    class="btn btn-success btn-block"
                    ng-hide="voted">
                    Vote Now!
                </button>
                <button 
                    type="button" 
                    ui-sref="view" 
                    class="btn btn-default btn-block"
                    ng-show="$ctrl.isLoggedIn">
                    Back to Polls
                </button>
                <button
                    ng-disabled="$ctrl.copiedLink"
                    type="button" 
                    class="btn btn-info btn-block"
                    ng-click="$ctrl.copyLink()">
                    {{$ctrl.copiedLink ? 'Url copied!' : 'Copy url'}}
                </button>
            </div>
        </form>
    </div>
</section>